<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}Paytoshi Faucet{% endblock %}">
        <meta name="keywords" content="{% block keywords %}bitcoin,free bitcoin,faucet,bitcoin faucet,free satoshi,get free bitcoin{% endblock %}">
        <meta name="author" content="Paytoshi">
        {#<meta name="google-site-verification" content="TODO: WEBMASTER TOOLS" />#}
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <title>{% block title %}{{ name|default('Paytoshi Faucet') }}{% endblock %}</title>

        {% block stylesheets %}
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->

            <link href="{{ asset('/themes/wide/css/style.css') }}" rel="stylesheet">
            <style type="text/css">
                {{ theme.css|raw }}
            </style>
        {% endblock %}
    </head>
    <body role="document">

        <header class="navbar navbar-static-top bs-docs-nav">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('homepage') }}">{{ name|default('Paytoshi Faucet') }}</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('homepage') }}">Faucet</a></li>
                        <li><a href="{{ path('faq') }}">F.A.Q.</a></li>
                        <li><a href="https://paytoshi.org/" target="_blank">Paytoshi.org</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <section class="container-fluid main-content">

            <div class="row">
                <div class="col-md-3 hidden-xs hidden-sm custom-content">
                    {{ content.left_box|raw }}
                </div>
                <div class="col-md-6 col-sm-12 center-column">
                    {% block content %}
                    {% endblock %}
                    <div class="row">
                        <div class="col-md-12 custom-content" >
                            {{ content.footer_box|raw }}
                        </div>
                    </div>
                    {% block footer %}
                        <footer role="footer">
                            <div class="text-center">
                                <p>Powered by <a href="https://paytoshi.org">Paytoshi</a> | <a href="{{ path('admin') }}">Admin</a> | <a href="{{ path('faq') }}">FAQ</a></p>
                            </div>
                        </footer>
                    {% endblock %}
                </div>
                <div class="col-md-3 hidden-xs hidden-sm custom-content">
                    {{ content.right_box|raw }}
                </div>
            </div>
        </section>

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
