<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}Paytoshi Faucet{% endblock %}">
        <meta name="keywords" content="{% block keywords %}bitcoin,free bitcoin,faucet,bitcoin faucet,free satoshi,get free bitcoin{% endblock %}">
        <meta name="author" content="Looptribe">
        {#<meta name="google-site-verification" content="TODO: WEBMASTER TOOLS" />#}
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <title>{% block title %}Paytoshi Faucet{% endblock %}</title>

        {% block stylesheets %}
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->

            <style type="text/css">
                {{ template.css|raw }}
            </style>
        {% endblock %}
    </head>
    <body role="document">
        <div class="container">
            <h1 class="text-center title">{{ name|default('Paytoshi Faucet') }}</h1>
            <h3 class="text-center headline">{{ description|default('...faucet? Paytoshi!') }}</h3>
            <hr />
            <div class="leaderboard-ad">
                {{ template.header_box|raw }}
            </div>
            <hr />

            <div class="row">
                <div class="col-md-3 hidden-xs hidden-sm">
                    <div class="skyscraper-ad">
                        {{ template.left_box|raw }}
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="faucet">
                        {% include "default/alerts.html.twig" %}
                        <div class="rewards text-center">
                            <h3>Claim your reward</h3>

                            <div class="reward-list">
                            {% for r in rewards %}
                            <span class="reward">{{ r.amount }}</span>
                            {% endfor %}
                            </div>
                            <div class="rewards_average">(Average: {{ rewards_average }} satoshi)</div>
                            <h4 class="text-center">Get a reward every {{ waiting_interval / 60 }} mins!</h4>
                        </div>

                        <hr>

                        <form action="{{ urlFor('reward') }}" novalidate="novalidate" method="POST" class="form">
                        <div class="form-group">
                            <div class="text-center lead">
                                Enter your Bitcoin address
                            </div>
                            <input class="form-control input-lg" type="text" name="address" 
                                   value="{% if address is defined %}{{ address }}{% endif %}" 
                                   placeholder="Bitcoin address">
                        </div>
                        <center>
                            <div class="banner-ad">
                                {{ template.center1_box|raw }}
                            </div>
                        </center>
                        <div class="form-group">
                            <center>
                                {% include "default/" ~ captcha.name ~ ".html.twig" with { server: captcha.server, public_key: captcha.public_key } %}
                            </center>
                        </div>
                        <center>
                            <div class="banner-ad">
                                {{ template.center2_box|raw }}
                            </div>
                        </center>
                        <button class="form-control input-lg btn-info banner-ad">Get a reward!</button>
                        <input type="hidden" name="referral" value="{{ referral }}">
                        <center>
                            <div class="banner-ad">
                                {{ template.center3_box|raw }}
                            </div>
                        </center>

                        </form>

                        <div class="well well-sm text-center referral-box">Earn {{ referral_percentage }}% referral bonus! 
                            Share your referral URL:<br>{{ base_url ~ '/?r=' ~ address|default('Bitcoin Address') }}</div>

                    </div>
                </div>
                <div class="col-md-3 hidden-xs hidden-sm">
                    <div class="skyscraper-ad">
                        {{ template.right_box|raw }}
                    </div>
                </div>
            </div>

        </div>

        <footer id="footer">
            <center>
                <p>
                    Powered by <a href="https://paytoshi.org">Paytoshi</a> | <a href="{{ urlFor('admin') }}">Admin</a>
                </p>
            </center>
        </footer>

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>